# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [317]:
import pandas as pd
import numpy as np
import math
import json
import re
#% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

# Data Preparation

In [318]:

channels = set()

for label, value in portfolio["channels"].iteritems():
    for i in value:
        channels.add(i)

for channel in channels:
    portfolio[channel] = portfolio["channels"].apply(lambda x: 1 if channel in x else 0)

portfolio = portfolio.drop("channels", axis =1)

portfolio

,reward,difficulty,duration,offer_type,id,web,email,mobile,social
0,10,10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd,0,1,1,1
1,10,10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1,1,1,1
2,0,0,4,informational,3f207df678b143eea3cee63160fa8bed,1,1,1,0
3,5,5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,1,1,0
4,5,20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,1,0,0
5,3,7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2,1,1,1,1
6,2,10,10,discount,fafdcd668e3743c1bb461111dcafc2a4,1,1,1,1
7,0,0,3,informational,5a8bc65990b245e5a138643cd4eb9837,0,1,1,1
8,5,5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d,1,1,1,1
9,2,10,7,discount,2906b810c7d4411798c6938adc9daaa5,1,1,1,0

In [319]:
transcript[transcript["person"] == "78afa995795e4d85b5d9ceeca43f5fef"]

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
15561,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6
47582,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.89},132
47583,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,132
49502,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 17.78},144
53176,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},168
85291,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '5a8bc65990b245e5a138643cd4eb9837'},216
87134,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.67},222
92104,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 29.72},240
141566,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 23.93},378
150598,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},408
163375,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},408
201572,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},504
218393,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 21.72},510
218394,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...,510
218395,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d...,510
230412,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 26.56},534
262138,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},582

In [310]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [320]:
def transform_ammount(x):
        
    keys, value = list(x.items())[0]

    if keys == "amount":
        return  value
    else:
        return np.nan
    
def transform_offer_id(x):
        
    keys, value = list(x.items())[0]

    if keys == "offer id":
        return  value
    else:
        return np.nan

transcript["offer_id"] = transcript["value"].apply(transform_offer_id)   
transcript["amount"] = transcript["value"].apply(transform_ammount)
transcript = transcript.drop("value", axis = 1)

In [328]:
transcript[transcript.event == "offer completed"]

,person,event,time,offer_id,amount
12658,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,offer completed,0,NaN,NaN
12672,fe97aa22dd3e48c8b143116a8403dd52,offer completed,0,NaN,NaN
12679,629fc02d56414d91bca360decdfa9288,offer completed,0,NaN,NaN
12692,676506bad68e4161b9bbaffeb039626b,offer completed,0,NaN,NaN
12697,8f7dd3b2afe14c078eb4f6e6fe4ba97d,offer completed,0,NaN,NaN
...,...,...,...,...,...
306475,0c027f5f34dd4b9eba0a25785c611273,offer completed,714,NaN,NaN
306497,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,714,NaN,NaN
306506,b895c57e8cd047a8872ce02aa54759d6,offer completed,714,NaN,NaN
306509,8431c16f8e1d440880db371a68f82dd0,offer completed,714,NaN,NaN
306527,24f56b5e1849462093931b164eb803b5,offer completed,714,NaN,NaN

In [219]:
merged = profile.merge(transcript, right_on="person", left_on="id", how = "outer").drop("person", axis = 1)
offer_ids_type = {k: v for k, v in (zip(portfolio.id, portfolio.offer_type))}         

merged["offer_type"] = merged["offer_id"].map(offer_ids_type)
#merged = merged.drop("offer_id", axis =1)


#merged[merged["event"]!="transaction"].groupby(["id","event"])["event"]

merged = merged.sort_values(by="time")
merged = merged.merge(portfolio, left_on="offer_id", right_on ="id", how="outer").drop(["became_member_on","id_y",], axis=1)

In [262]:
test_ = merged.sort_values(by=["id_x", "time"], ascending =[True, True]).sort_values(by=["id_x","time"], ascending=[True, True])


unique_users = test_.id_x.unique()

unique_users

array(['0009655768c64bdeb2e877511632db8f',
       '00116118485d4dfda04fdbaba9a87b5c',
       '0011e0d4e6b944f998e987f904e8c1e5', ...,
       'fff8957ea8b240a6b5e634b6ee8eafcf',
       'fffad4f4828548d1b5583907f2e9906b',
       'ffff82501cea40309d5fdd7edcca4a07'], dtype=object)

In [284]:
#test[test["id_x"] == "0011e0d4e6b944f998e987f904e8c1e5"] 

test_

,gender,age,id_x,income,event,time,offer_id,amount,offer_type_x,reward,difficulty,duration,offer_type_y,web,email,mobile,social
44240,M,33,0009655768c64bdeb2e877511632db8f,72000.0,offer received,168,5a8bc65990b245e5a138643cd4eb9837,NaN,informational,0.0,0.0,3.0,informational,0.0,1.0,1.0,1.0
46101,M,33,0009655768c64bdeb2e877511632db8f,72000.0,offer viewed,192,5a8bc65990b245e5a138643cd4eb9837,NaN,informational,0.0,0.0,3.0,informational,0.0,1.0,1.0,1.0
153346,M,33,0009655768c64bdeb2e877511632db8f,72000.0,transaction,228,NaN,22.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60410,M,33,0009655768c64bdeb2e877511632db8f,72000.0,offer received,336,3f207df678b143eea3cee63160fa8bed,NaN,informational,0.0,0.0,4.0,informational,1.0,1.0,1.0,0.0
61786,M,33,0009655768c64bdeb2e877511632db8f,72000.0,offer viewed,372,3f207df678b143eea3cee63160fa8bed,NaN,informational,0.0,0.0,4.0,informational,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243350,F,45,ffff82501cea40309d5fdd7edcca4a07,62000.0,offer completed,576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291054,F,45,ffff82501cea40309d5fdd7edcca4a07,62000.0,offer received,576,2906b810c7d4411798c6938adc9daaa5,NaN,discount,2.0,10.0,7.0,discount,1.0,1.0,1.0,0.0
291612,F,45,ffff82501cea40309d5fdd7edcca4a07,62000.0,offer viewed,582,2906b810c7d4411798c6938adc9daaa5,NaN,discount,2.0,10.0,7.0,discount,1.0,1.0,1.0,0.0
252826,F,45,ffff82501cea40309d5fdd7edcca4a07,62000.0,transaction,606,NaN,10.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264996,F,45,ffff82501cea40309d5fdd7edcca4a07,62000.0,transaction,648,NaN,18.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [285]:
l = ['offer received', 'offer viewed', 'transaction', 'offer completed']

trans_result = []

for user in unique_users:
    test = test_[test_["id_x"] == user]
    
    for label, col in test.iterrows():
        if col["event"] == "offer received":

            offer_id_ = test.loc[label,"offer_id"]
            offer_ammount =  test.loc[label,"difficulty"]


            val_window = int(col["duration"]+col["time"])
            events_window_df = test[(test["time"] >= col["time"]  ) & (test["time"] <= val_window) ]
            #display(events_window_df)

            #check if all relevant events happened
            events_window = events_window_df["event"].to_list()

            if not all(elem in events_window  for elem in l):
                continue

            else:

                trans = {}
                o_viewed = {}
                o_completed = []



                for label, row in events_window_df.iterrows():
                    if row["event"] == "transaction":
                        trans[label] = list([row["time"],row["amount"]])

                    elif row["event"] == "offer viewed":
                        o_viewed[label] = list([row["time"],row["offer_id"]])

                    elif row["event"] == "offer completed":  
                        o_completed.append(row["time"])


                #print(trans)
                #print(o_viewed)
                #print(o_completed)


                


                #print(label)
                for trans_ , values in trans.items():
                    time = values[0]
                    amount = values[1]

                    for offer_viewed, values in o_viewed.items():
                            time_viewed = values[0]
                            offer_id = values[1]

                            #print(offer_id)
                            #print(offer_id_)
                            #print(time_viewed)
                            #print(time)
                            #print(amount)
                            #print(offer_ammount)

                            if time_viewed <= time and offer_id == offer_id_ and time in o_completed and amount >= offer_ammount:
                                trans_result.append(trans_)
                                
                                #print(user+str(trans_result))

KeyboardInterrupt:

[192958,
 244032,
 176069,
 220396,
 109781,
 174018,
 223031,
 193064,
 173683,
 194411,
 174360,
 173815,
 108618,
 139026,
 109112,
 140170,
 242740,
 140857,
 140483,
 222241,
 242894,
 192849,
 139138,
 243506,
 245360,
 245845,
 242677,
 174383,
 195543,
 138584,
 109176,
 140619,
 220683,
 223643,
 175330,
 222981,
 195634,
 140427,
 109579,
 176048,
 221340,
 109400,
 173377,
 220713,
 139908,
 173918,
 242756,
 195272,
 108522,
 174781,
 173372,
 222480,
 138522,
 176050,
 192603,
 175199,
 108574,
 138990,
 221008,
 221600,
 173835,
 194099,
 176022,
 139317,
 108973,
 173462,
 107969,
 138844,
 191996,
 245411,
 107882,
 194328,
 140232,
 195598,
 176141,
 242387,
 109331,
 174365,
 221085,
 245171,
 140403,
 224049,
 195186,
 195049,
 242241,
 176243,
 193703,
 192749,
 139665,
 192543,
 195556,
 194337,
 223678,
 107899,
 223311,
 242406,
 139207,
 191900,
 107977,
 138999,
 140380,
 138794,
 175348,
 220772,
 193057,
 174337,
 108413,
 174840,
 243822,
 222513,
 243285,
 108191,
 195096,
 192910,
 192439,
 244297,
 140728,
 175653,
 175616,
 245608,
 140436,
 139835,
 109069,
 174790,
 140373,
 109564,
 192389,
 141037,
 140651,
 140979,
 222231,
 244230,
 192394,
 140844,
 192083,
 140208,
 192581,
 174374,
 195565,
 245266,
 193439,
 140655,
 174482,
 175088,
 221832,
 195674,
 108032,
 193160,
 108874,
 242190,
 191638,
 174455,
 242415,
 175856,
 173582,
 173890,
 108179,
 244926,
 244638,
 108429,
 193813,
 175983,
 191844,
 244665,
 175690,
 220914,
 194694,
 192575,
 140824,
 138689,
 194811,
 246018,
 223102,
 138644,
 194112,
 220431,
 193821,
 139337,
 175402,
 245472,
 222635,
 107966,
 223458,
 245672,
 242947,
 175164,
 223098,
 222314,
 194804,
 174912,
 108405,
 175118,
 223346,
 242507,
 223837,
 221580,
 244507,
 174690,
 109380,
 193327,
 245654,
 243324,
 108645,
 175489,
 193916,
 191656,
 139798,
 139134,
 141006,
 175053,
 139607,
 109482,
 174219,
 221156,
 193822,
 108092,
 140715,
 221756,
 109664,
 193489,
 222041,
 108592,
 192466,
 245579,
 244573,
 108398,
 193714,
 220439,
 108260,
 221443,
 194257,
 243084,
 220906,
 192263,
 140229,
 244075,
 140951,
 223551,
 108567,
 174961,
 174515,
 193485,
 220785,
 221333,
 107984,
 174755,
 108854,
 194390,
 139939,
 141031,
 140873,
 139977,
 138893,
 191791,
 174003,
 139844,
 175009,
 224068,
 246054,
 244358,
 223847,
 175455,
 220213,
 244322,
 194635,
 108247,
 173876,
 220167,
 193223,
 174090,
 139089,
 173556,
 107978,
 192536,
 223552,
 244485,
 174719,
 242555,
 175849,
 244244,
 194802,
 220727,
 109543,
 138824,
 193037,
 223999,
 223698,
 108571,
 175538,
 191692,
 139613,
 109746,
 221776,
 222473,
 242568,
 139893,
 174177,
 193251,
 195638,
 221746,
 138783,
 139205,
 175298,
 243142,
 220531,
 245646,
 140962,
 192539,
 243263,
 192591,
 194204,
 108010,
 192956,
 175409,
 244397,
 221015,
 138774,
 174409,
 222800,
 222519,
 108377,
 139015,
 245200,
 138658,
 109450,
 174112,
 244005,
 245525,
 140998,
 173350,
 138975,
 223946,
 192432,
 223581,
 175016,
 138639,
 108760,
 194809,
 221917,
 109732,
 107906,
 174185,
 139564,
 109266,
 220562,
 244506,
 174737,
 174882,
 223466,
 244950,
 139465,
 140441,
 221631,
 174908,
 109596,
 139669,
 221355,
 191801,
 221185,
 175363,
 194929,
 242521,
 174517,
 194422,
 193108,
 194607,
 108241,
 192722,
 108300,
 194395,
 242729,
 194300,
 108589,
 173966,
 175163,
 194545,
 139671,
 139917,
 107975,
 109516,
 174771,
 223842,
 108627,
 174671,
 195679,
 139551,
 140437,
 192306,
 107990,
 223487,
 175424,
 175701,
 191635,
 192158,
 140666,
 194302,
 195019,
 220400,
 221486,
 242999,
 222462,
 192906,
 109591,
 108669,
 220233,
 220806,
 138950,
 244425,
 108462,
 139175,
 109396,
 140552,
 242138,
 245436,
 244756,
 223769,
 243380,
 139041,
 108368,
 174930,
 193356,
 109371,
 242214,
 223017,
 108622,
 108323,
 108811,
 139722,
 174574,
 194646,
 109427,
 243119,
 109336,
 175221,
 109026,
 242509,
 139009,
 108809,
 245350,
 109654,
 222336,
 193200,
 244807,
 243967,
 242881,
 243289,
 140810,
 141036,
 174946,
 175393,
 139698,
 191887,
 221106,
 173743,
 140449,
 220779,
 221672,
 108727,
 139996,
 139588,
 220501,
 174776,
 246052,
 138692,
 173741,
 109466,
 174586,
 174951,
 245626,
 222818,
 220369,
 139522,
 109324,
 173781,
 222544,
 108808,
 193854,
 194289,
 221238,
 222172,
 221668,
 243637,
 223008,
 245831,
 139696,
 139780,
 223980,
 141012,
 108184,
 175976,
 244196,
 222831,
 139248,
 138767,
 223720,
 176167,
 109440,
 175371,
 138904,
 220478,
 223617,
 138565,
 108002,
 139092,
 222605,
 194195,
 191833,
 221515,
 175268,
 242202,
 193988,
 244543,
 174252,
 192345,
 138664,
 245412,
 108048,
 194498,
 174147,
 109273,
 175591,
 139794,
 192579,
 174633,
 108777,
 174956,
 222279,
 192180,
 222996,
 192927,
 221915,
 246057,
 245554,
 220297,
 243826,
 140535,
 244249,
 108894,
 192726,
 109293,
 173508,
 140172,
 173734,
 243729,
 221700,
 192606,
 192226,
 195626,
 222298,
 220443,
 109569,
 243382,
 174312,
 173434,
 192444,
 140937,
 192643,
 193493,
 109526,
 243145,
 191817,
 139157,
 220419,
 139638,
 140402,
 109696,
 138731,
 193361,
 243517,
 222177,
 221117,
 242335,
 109117,
 109391,
 193870,
 193370,
 243055,
 108790,
 194400,
 191748,
 242983,
 138483,
 193387,
 175789,
 109270,
 175131,
 195403,
 108019,
 243537,
 221311,
 108728,
 222383,
 195301,
 242863,
 193928,
 139498,
 139859,
 138702,
 221493,
 108388,
 108730,
 109604,
 220638,
 139831,
 108350,
 108425,
 108060,
 138690,
 222478,
 139897,
 139185,
 242519,
 140542,
 223573,
 173506,
 222042,
 242818,
 221951,
 108725,
 173866,
 109629,
 139804,
 221521,
 245102,
 108679,
 173668,
 243940,
 138915,
 173715,
 173453,
 191882,
 140679,
 194562,
 193548,
 222175,
 175159,
 195100,
 221172,
 174127,
 242605,
 194038,
 108680,
 244478,
 138898,
 194350,
 139560,
 192885,
 192453,
 220564,
 220581,
 243980,
 140248,
 109079,
 195314,
 243329,
 191972,
 194596,
 108529,
 194649,
 222168,
 174404,
 140422,
 108258,
 244138,
 140923,
 108977,
 244137,
 176158,
 244353,
 174936,
 193379,
 244619,
 194418,
 244487,
 244003,
 193352,
 193965,
 174655,
 139159,
 243458,
 138800,
 220797,
 193069,
 191989,
 243351,
 109254,
 174501,
 191703,
 192206,
 223697,
 223647,
 108319,
 221889,
 193228,
 192019,
 140096,
 173907,
 193528,
 195531,
 244030,
 107963,
 192638,
 193622,
 193281,
 242718,
 108733,
 174273,
 138851,
 244851,
 138838,
 223733,
 176116,
 140141,
 173608,
 138853,
 173992,
 174419,
 245508,
 192856,
 221390,
 175110,
 223303,
 174114,
 108232,
 174903,
 222940,
 109240,
 109397,
 193749,
 195561,
 174725,
 138754,
 244854,
 220921,
 108899,
 108982,
 191851,
 222004,
 222751,
 138513,
 175258,
 108502,
 140225,
 174826,
 140848,
 244401,
 220611,
 222912,
 108355,
 245159,
 139691,
 223315,
 243280,
 140993,
 109447,
 175984,
 140909,
 192154,
 140636,
 222126,
 109062,
 193171,
 139198,
 174839,
 243700,
 242613,
 140074,
 173385,
 242494,
 139386,
 242546,
 242839,
 194009,
 175408,
 108819,
 109188,
 140404,
 221385,
 173947,
 245713,
 195017,
 221504,
 243212,
 192174,
 193586,
 108661,
 140464,
 223558,
 194185,
 192969,
 223790,
 140384,
 245637,
 191858,
 108314,
 139280,
 108453,
 220635,
 192151,
 245002,
 175926,
 221679,
 192921,
 245428,
 175863,
 222503,
 242104,
 243222,
 193765,
 244128,
 222618,
 243403,
 222583,
 193062,
 140797,
 139633,
 243067,
 173561,
 245961,
 140723,
 108759,
 140750,
 139288,
 221664,
 242713,
 222077,
 244719,
 195630,
 242985,
 109289,
 174422,
 222362,
 221405,
 244004,
 174051,
 193365,
 195298,
 195028,
 109650,
 108701,
 140623,
 244280,
 243122,
 173799,
 108564,
 175628,
 193835,
 192188,
 108459,
 220755,
 108024,
 174416,
 245562,
 244098,
 222711,
 223741,
 140288,
 139491,
 195466,
 193770,
 138881,
 245542,
 222874,
 173840,
 244682,
 173748,
 195064,
 138529,
 140629,
 175175,
 108180,
 175614,
 245964,
 140205,
 109740,
 140408,
 244245,
 243753,
 224025,
 108582,
 108863,
 222523,
 244516,
 220721,
 194563,
 194435,
 175476,
 222201,
 173611,
 140240,
 109627,
 194970,
 221898,
 173573,
 244785,
 108885,
 173672,
 139967,
 191894,
 243631,
 221688,
 192144,
 173443,
 245947,
 195192,
 245177,
 174261,
 140121,
 243422,
 174030,
 191966,
 108647,
 109655,
 138608,
 175068,
 245854,
 194625,
 175113,
 222947,
 139717,
 109476,
 243105,
 138597,
 176238,
 194394,
 193432,
 222991,
 222571,
 176207,
 107973,
 174821,
 138797,
 139476,
 108423,
 222110,
 139544,
 140029,
 139308,
 109091,
 242883,
 109174,
 109721,
 109129,
 220568,
 138604,
 193656,
 244095,
 176190,
 222018,
 108484,
 192938,
 173546,
 175460,
 224008,
 174451,
 139574,
 245291,
 194876,
 220325,
 173720,
 220882,
 220643,
 173764,
 221491,
 176162,
 221539,
 175171,
 245941,
 222125,
 223753,
 140354,
 174891,
 175338,
 140227,
 223377,
 173909,
 191857,
 176132,
 193777,
 108654,
 221255,
 174241,
 194985,
 223116,
 244549,
 109689,
 220347,
 108230,
 191846,
 176137,
 245614,
 174384,
 174925,
 192125,
 221137,
 222699,
 244025,
 223535,
 244283,
 244157,
 ...]

,gender,age,id_x,income,event,time,offer_id,amount,offer_type_x,reward,difficulty,duration,offer_type_y,web,email,mobile,social
192958,F,62,0091d2b6a5ea4defaa8393e4e816db60,81000.0,transaction,408,NaN,27.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244032,O,52,00c20a9202d5475190b31a24de6fb06d,80000.0,transaction,576,NaN,16.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176069,F,22,00c91f31f5f74e769fa7a359b63e1a9f,49000.0,transaction,342,NaN,8.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220396,F,58,00d6dc87be4146ceb47fcd4baaaf6477,115000.0,transaction,504,NaN,39.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109781,M,57,00fac72fd6ad448e8019b175267023df,80000.0,transaction,6,NaN,26.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140004,M,85,cad006df49e5400b8b38069f296c97c7,66000.0,transaction,174,NaN,16.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242978,None,118,cafb4a8e15954efc83973d2607e5b66a,NaN,transaction,576,NaN,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139258,M,37,cb576b0ddc484c00afd56feb4fb63900,56000.0,transaction,168,NaN,11.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173483,M,37,cb576b0ddc484c00afd56feb4fb63900,56000.0,transaction,336,NaN,16.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193442,M,59,cb869ab3db924b1f9fcfffafd618f95d,90000.0,transaction,408,NaN,27.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dict = defaultdict(list)

NameError: name 'defaultdict' is not defined